@import url(./reset.css);

html {
  background-color: rgb(200 200 210);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 100vh;
  margin: 0;
  font-size: 1.6rem / 1.5 Verdana;
}

.app-nav {
  & ul {
    display: flex;
    gap: 0.75rem;
    & li {
      & button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0.38rem 0.75rem;
        border-radius: 1rem;
        border: 1px solid #6b6b6b;
        background: #fff;
        color: #6b6b6b;
        cursor: pointer;
        font-size: 0.875rem;
        font-weight: 600;
        transition: all ease 0.7s;

        &.is--active {
          background: #6b6b6b;
          color: #fff;
        }
      }
    }
  }
}

.sr-only {
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;

  caption& {
    position: static;
  }

  &.focusable:focus {
    overflow: initial;
    position: static;
    clip: auto;
    clip-path: unset;
    width: initial;
    height: initial;
    margin: initial;
    white-space: initial;
  }
}
